@import url(https://fonts.googleapis.com/css?family=Open+Sans);
* {
  margin: 0px;
  box-sizing: border-box;
} 

a {
  color:inherit;
}

html,
body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #eceff1;
  height: 100vh;
  width: 100vw;
  font-family: "Open Sans";
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 25%;
  flex-wrap: wrap;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5);
  margin-bottom: 1em; 
}
.button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.1);
  color: white;
}

.scholar:hover {
  background: #4185f4;
}

.linkedin:hover {
  background: #0a66c2;
}

.orcid:hover {
  background: #a6ce39;
}

.instagram:hover {
  background: linear-gradient(135deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}

.github:hover {
  background: black;
}

.codepen:hover {
  background: #1e1f26;
}
  
#socialMediaIcons a:link .fa, #socialMediaIcons a:visited .fa  {
  color: #ccc;
}
